@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');


body,html{
margin:0;
padding:0;
font-family:"Mozilla Headline", sans-serif;;
height:100%;
}

.container{
    background: linear-gradient(135deg,#8a2be2,#4169e1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content{
    text-align: center;
    background-color: #fff;
    padding:2rem;
    border-radius: 10px;
    max-width: 350px;
}

.logo{
    width: 200px;
    object-fit: contain;
}

form{
    display: flex;
    flex-direction:column;
}

h1{
    color:#333;
    margin-bottom: 20px;
}
p{
    color: #666;
    margin-bottom: 20px;
}

input[type="email"]{
    padding:5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button{
    padding:5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor:pointer;
    background-color: #8a2be2;
    color:#fff;
    transition: background-color 0.9s ease-in-out;
    box-shadow: 0 4px 6px rgb(0,0,0,0.4);


}

button:hover{
    background-color: #333;
    color:#fff;
}